

<div class="row small-12 medium-6 columns">

<ul>
      <% @bookstores.each do |store| %>
        <div class="inline-books">
          <li><%= link_to store.name, edit_admin_bookstore_path("#{store.id}")  %></li>
          <li><%= store.address %>, <%= store.city %>, <%= store.state%></li>
          <li><%= link_to "Delete", "/admin/bookstores/#{store.id}", id: "delete#{store.id}", method: :delete %></li>
        </div>
      <% end %>
    </ul>
    <%= link_to "Back to Bookstores", root_path, class: "button purple-button" %>
  </div>
