

<div class="row small-12 medium-7 columns">
  <h3>Bookstores:</h3>
<ul class="justified">
      <% @bookstores.each do |store| %>
        <div class="inline-info">
          <li><%= link_to store.name, edit_admin_bookstore_path("#{store.id}")  %></li>
          <li><%= store.address %>, <%= store.city %>, <%= store.state%></li>
          &nbsp;
          <li><%= link_to "Delete", "/admin/bookstores/#{store.id}", id: "delete#{store.id}", class: "button purple-button", method: :delete %></li>
        </div>
      <% end %>
    </ul>
    <%= link_to "Back to Bookstores", root_path, class: "button purple-button" %>
  </div>
