<h1 id="bookstore_title"><%= @bookstore.name %> Reviews</h1>
  <h4 id="bookstore_location"><%= @bookstore.address%><br><%= @bookstore.city%>, <%= @bookstore.state%> <%= @bookstore.zip_code%></h4>

  <div id="bookstore_image">
    <img src=<%= @bookstore.img_url%>>
  </div>

  <div id="bookstore_website">
    <%= link_to "Visit the website", @bookstore.url if @bookstore.url %>
  </div>

  <div id="bookstore_description">
    Description: <%= @bookstore.description if @bookstore.description %>
  </div>

  <% if @bookstore.food == true %>
    <div id="bookstore_food">
      This bookstore serves food!
    </div >
  <% end %>

  <% if @bookstore.beverage == true %>
    <div id="bookstore_beverages">
      This bookstore serves beverages!
    </div>
  <% end %>

  <h3>Reviews:</h3>

    <ul id="review_list">
      <% @reviews.each do |review| %>
        <li>
          <div class="review_body">
            <%= review.body%>
            <br>
              Overall: <%= review.overall_rating %>, Price: <%= review.price_rating %>, Customer Service: <%= review.customer_service_rating %>
              <div id="vote-div">
                <%= link_to "+1", upvote_review_votes_path(review), class: 'upvote' %>
                <br>
                <%= link_to "-1", downvote_review_votes_path(review), class: 'downvote' %>
                Vote Total:
                <div class= 'vote-total'>
                  <%= @vote_total[review.id] %>
                </div>
              </div>
          </div>
        </li>
      <% end %>
    </ul>
  <br>

  <%= render '/reviews/form' %>

<%= link_to "Home", bookstores_path %>
