<div class="body-bookstore-show small-12 columns">

<div class="row small-12 columns store-info">

    <h1 id="bookstore_title"><%= @bookstore.name %></h1>
  <div class="small-12 medium-6 columns" id="book-show">



  <div class="small-12 columns" id="bookstore_image">
    <img src="<%= @bookstore.img_url%>">
  </div>
</div>

<div class="small-12 medium-6 columns">
  <div class="small-12 columns">
    <h4 id="bookstore_location"><%= @bookstore.address%><br><%= @bookstore.city%>, <%= @bookstore.state%> <%= @bookstore.zip_code%></h4>
  </div>

  <% if !@bookstore.description.nil? %>
    <div class="small-12 columns" id="bookstore_description">
      Description: <%= @bookstore.description %>
    </div>
  <% end %>

  <div class-"small-12 columns" id="bookstore_website">
    <%= link_to "Visit the website", @bookstore.url if @bookstore.url %>



  <% if @bookstore.food == true %>
    <div class="small-12 columns" id="bookstore_food">
      This bookstore serves food!
    </div >
  <% end %>

  <% if @bookstore.beverage == true %>
    <div class="small-12 columns" id="bookstore_beverages">
      This bookstore serves beverages!
    </div>
  <% end %>


  <div class="small-12 columns inline-links-div">
    <div class="margin-map-link">
      <%= link_to "Get Map", api_bookstore_path(@bookstore), class: "button purple-button margin-book-info", id: 'getmap' %>
    </div>
    <div id="maphere">
    </div>

    <div>
      <%= link_to "Edit Bookstore", edit_bookstore_path(@bookstore), class: "button margin-book-info" if current_user == @bookstore.user %>
    </div>

    <div>
      <%= button_to "Delete Bookstore", @bookstore, class: "button purple-button margin-book-info", method: :delete if current_user == @bookstore.user %>
    </div>
  </div>
</div>


</div>
</div>


<div class="row small-12 columns review-info">

  <div class="small-12 medium-6 columns">

  <h4>Reviews:</h4>

      <% @reviews.each do |review| %>
      <div class="small-12 columns media-object">
        <div class="row small-12 columns">
          <div class=" media-object-section">
            <img class="thumbnail" src="<%= review.user.avatar %>" style="width: 50px; height: 50px"></a>
          </div>
          <div class="media-object-section">
            <p><%= review.user.user_name %></p>
          </div>
        </div>

        <div class="row small-12 columns">
          <div class=" media-object-section">

              <%= button_to "+1", upvote_review_votes_path(review), id: 'upvote', method: :post %>

            <div class='vote-total-<%= review.id %>'>
            Total: <%= @vote_total[review.id] %>
            </div>

              <%= button_to "-1", downvote_review_votes_path(review), id: 'downvote', method: :post %>

          </div>

          <div class=" media-object-section">
            <div class="small-12 columns">
                <p><%= review.body%></p>
            </div>

            <div class="small-12 columns">
              Overall: <%= review.overall_rating %>, Price: <%= review.price_rating %>, Customer Service: <%= review.customer_service_rating %>
            </div>
            <div class="small-12 columns">
              <%= link_to "Edit Review", edit_bookstore_review_path(@bookstore, review), class: "button" if current_user == review.user %>
            </div>
            <div>
            <%= button_to "Delete Review", review, method: :delete if current_user == review.user %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <hr>
    <div class="pagination">
      <%= paginate @reviews %>
    </div>

    </div>



  <div class="small-12 medium-6 columns">

  <%= render '/reviews/form' %>
    </div>

  </div>
</div>
