

<div class="row small-12 medium-6 columns">
  <h3>Users:</h3>
    <ul class="justified">
      <% @users.each do |user| %>
        <div class="inline-info">
          <li><%= user.user_name %></li>
          <li><%= user.email %></li>
          <% if user.admin %>
            <li><%= link_to "Revoke Admin", "/admin/users/#{user.id}", id: "revoke-admin#{user.id}", class: "button black-text", method: :patch %></li>
          <% else %>
            <li><%= link_to "Make Admin", "/admin/users/#{user.id}", id: "make-admin#{user.id}", class: "button black-text", method: :patch %></li>
          <% end %>
          <li><%= link_to "Delete", "/admin/users/#{user.id}", class: "button purple-button", id: "delete#{user.id}", method: :delete %></li>
        </div>
      <% end %>
    </ul>
      <%= link_to "Back to Bookstores", root_path, class: "button purple-button" %>
  </div>
